@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100;300;400;500;600;700&display=swap");

//FONTS
$roboto-font-mono: "Roboto Mono", monospace;

//COLORS
$fontColor: #393d3f;
$backgrundColor: #aaaba8;
$darkPink: #bc7b77;
$darkGray: #0d0d0d;
$darkWhite: #f3f3ee;
