@import "../styles/index.scss";

.toDo-conteiner {
  width: 100%;
  background-color: $darkGray;
  color: $darkWhite;
  padding: 1rem 0.5rem;
  border-radius: 4px;
  margin-bottom: 2vh;
  display: flex;
  align-items: center;
  .todo-title {
    width: 75%;
    font-size: 0.9rem;
  }
  .todo-icons {
    width: 25%;
    display: flex;
    align-items: center;
    .check-box {
      width: 24px;
      height: 24px;
      border: 2px solid $darkWhite;
      border-radius: 4px;
      display: flex;
      align-items: center;
      justify-content: center;
      .checked {
        color: #16f4d0;
      }
    }
    .edit {
      font-size: 20px;
      font-weight: bold;
      margin-left: auto;
      margin-right: 0.5rem;
      cursor: pointer;
    }
    .delete {
      font-size: 25px;
      font-weight: bold;
      cursor: pointer;
    }
  }
}
.Modal {
  position: absolute;
  top: 100px;
  left: 200px;
  right: 200px;
  bottom: 100px;
  background-color: $darkWhite;
  border-radius: 6px;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  .edit-task {
    margin-top: 6vh;

    width: 50%;

    &__title {
      display: flex;
      align-items: center;
      & > p {
        margin-right: 1vw;
        font-weight: bold;
      }
      & > input[type="text"] {
        background-color: transparent;
        border: none;
        border-bottom: 1px solid rgba(0, 0, 0, 0.7);
        outline: none;
        display: inline-block;

        height: 4vh;
        font-family: $roboto-font-mono;
      }
    }

    &__date {
      display: flex;
      margin-top: 3vh;
      align-items: center;
      justify-content: space-between;
      width: 100%;

      padding: 0.5rem 0;
      & > p {
        white-space: nowrap;
        margin-right: 1vw;
        font-weight: bold;
      }
    }
    &__description {
      display: flex;
      margin-top: 3vh;
      & > p {
        font-weight: bold;
      }
      & > textarea {
        height: 4rem;
        width: 15rem;
        resize: none;
        margin-left: 1vw;
      }
    }
    &__select {
      display: flex;
      margin-top: 3vh;
      & > p {
        font-weight: bold;
        margin-right: 1vw;
      }
    }

    .edit-btn {
      width: 10rem;
      padding: 0.5rem 1rem;
      margin-top: 5vh;
      margin-left: auto;
      margin-right: auto;
      font-family: $roboto-font-mono;
      border: none;
      background-color: #16f4d0;
      font-weight: bold;
      border-radius: 4px;
      font-size: 1rem;
      cursor: pointer;
    }
  }
}

.Overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
}

.close-modal {
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
}

.edit-task {
  display: flex;
  flex-direction: column;
}
